/* #root {
  background-color: rgb(19, 22.5, 30.5);
} */

.mainContent {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

[data-theme="dark"] .mainContent {
  background-color: rgb(19, 22, 30);
}

[data-theme="light"] .mainContent {
  background-color: rgb(255, 255, 255);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2rem;
  padding-left: 10px;
  border-bottom: 3px solid darkslateblue;
  padding-right: 200px;
}

.creatorverse-logo {
  font-size: 60px;
  background-image: linear-gradient(45deg, indigo, darkslateblue, mediumslateblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.addCreator {
  margin-top: 10px;
  color: #646cff;
}
.addCreator:hover {
  color: rgb(60, 0, 128);
}

.content-creator {
  width: 500px;
  height: 600px;
  padding: 10px;
  border: 3px solid darkslateblue;
  margin: 20px;
  border-radius: 15px;
  background-color: #ffffff; /* default (light) */
  color: inherit;
}

:root[data-theme="dark"] .content-creator {
  box-shadow: 5px 5px 15px rgba(137, 46, 210, 0.3);
  background-color: rgb(28, 24, 35); /* card background in dark mode */
  color: #eaeaea;
}

:root[data-theme="light"] .content-creator {
  box-shadow: 5px 5px 15px rgba(47, 81, 194, 0.3);
  background-color: #d1b1f0;
  color: #111;
}

.creatorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 200px;
  padding: 50px 0px 50px 0px;
  height: auto;
  width: auto;
}

.currentCreator {
  background-image: linear-gradient(45deg, rgb(34, 78, 182), rgb(99, 53, 148), rgb(127, 53, 196));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.individualCreatorDescription {
  width: 100%;
  text-align: center;
}

.individualCreatorURL {
  background-image: linear-gradient(45deg, rgb(121, 57, 205), rgb(54, 90, 168), rgb(144, 53, 196));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creatorWidgets {
  display: flex;
  justify-content: center;
}

.individualCreatorButton {
  margin: 0px 20px 0px 20px;
}

.creator-image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(47, 81, 194, 0.3);
}

.creator-description {
  font-size: 25px;
  height: 130px;
}

.creatorButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: auto;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color:darkslateblue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}